.sidebar {
  margin: 0;
  padding: 0;
  width: 70px;
  background-color:  #262626;
  position: fixed;
  height: 100%;
  overflow: auto;
}

/* Sidebar links */
.sidebar a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
  background-color:  #404040;
  color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
  background-color: #555;
  color: white;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.content {
  margin-left: 70px;
  background-color:   #f2f2f2;
  padding: 1px 16px;
  height: 1000px;
}

